<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <h1>회원가입</h1>
    <a id="home" href="#">홈으로</a><br>
    <a id="duh" href="#">if you already have an acc, just log in</a>
    <script>
        document.getElementById("home").addEventListener('click', e=>{
            location.href = '/'
        })
        document.getElementById("duh").addEventListener('click', e=>{
            location.href = '/move/users/login'
        })
    </script>
</body>
</html>